<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="secomm-plugin-account"
    version="0.1.0">
    <name>seComm Account Cordova Plugin</name>
    <description>Cordova plugin for managing seComm accounts</description>
    <license>GPL3</license>
    <keywords>secomm,account,cordova,plugin</keywords>
    <repo>https://github.com/swbrenneis/cordova-plugin-secomm-account.git</repo>
    <issue>https://github.com/swbrenneis/cordova-plugin-secomm-account/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.SeAccountPlugin -->
        <clobbers target="secomm.cordova.SeAccountPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="SeAccountPlugin">
          <param name="android-package" value="org.secomm.plugins.cordova.account.SeAccountPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/org/secomm/plugins/cordova/account/SeAccountPlugin.java" target-dir="src/android/org/secomm/plugins/cordova/account" />
      <source-file src="src/android/libs/CryptoKitty.jar" target-dir="src/android/libs" />
      <source-file src="src/android/libs/classes.jar" target-dir="src/android/libs" />
      <source-file src="src/android/libs/java-json.jar" target-dir="src/android/libs" />
      <source-file src="src/android/libs/secomm-account-alpha.jar" target-dir="src/android/libs" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="secomm.cordova.SeAccountPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="SeAccountPlugin">
                <param name="ios-package" value="SeAccountPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/SeAccountPlugin.h" />
        <source-file src="src/ios/SeAccountPlugin.mm" />
    </platform>
</plugin>
